.ms-container{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

main{
    background-color: bisque;
    border-radius: 10px;

}

.list-wrapper ul{
    list-style-type: none;
    text-align: left;
}

ul li{
    margin-top: 1rem;
}

.done{
    text-decoration: line-through;
}

.cross{
    color: red;
    
}

.check{
    color: green;
}

.cross:hover, 
.check:hover{
    cursor: pointer;
}

.line{
    text-decoration: line-through;
}